/*---------Responsive Breakpoints---------*/
$tablet-screen-size: 768px;
$desktop-screen-size: 1280px;

/*---------Colors---------*/
/*---Primary Colors---*/
$dad-blue: #005eed;
/*---Secondary Colors---*/
$dad-yellow: #fffbaa;
